.vertical-space {
  height: 8px;
}

.flex-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-box {
    height: 100vh;
    padding: 20px;
   
  a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 4px 0 4px 0;
  }

  i {
    color: #2da1c6;
    font-size: 16px;
  }

  .space-between {
    width: 5%;
    padding: 20px 0 20px 0;

    hr {
      height: 100%;
      width: 0;
      border: 1px solid #2da1c6;
    }
  }



  p {
    margin: 4px 0 4px 0;
    font-size: 13px;
  }

  .image-container {
    display: flex;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  .section-title {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #2da1c6;
  }

  .my-col-1 {
    width: 100%;
    li {
      font-size: 13px;
    }
  }

  .my-col-2 {
    width: 55%;
    p {
      span {
        font-weight: bold;
      }
    }
  }
}


.anschreiben-container {
  height: 100vh;
  p {
    font-size: 13px;
    margin: 4px 0 4px 0;
  }

  i {
    color: #2da1c6;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 4px 0 4px 0;
  }

  .space-between{
    height: 10px;
  }

  .datum{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.formation-academique{
  p{
    margin: 0;
    padding: 0;
  }
}

.separator{
  border: #2da1c6 solid 2px;
  margin: 0;
  padding: 0;
}